:root{
    --bg-color:#ffffff;
    --text-color:#000000;
    --desc-color:#909090;
    --site-color:#4675ff;
}

$pr-color: rgb(0, 123, 255);
$info-color: #909090;
$sub-info-color: #202020;
$title-color: #000000;

$site-font:"Gotham Pro", Arial, sans-serif,